<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block lab %}{% endblock %}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
   {% block script %}{% endblock %}
</head>
<body>
  <header>
        Банк "Правобережный"
  </header>
  
  <main>
       {% block main %}{% endblock %}
  </main>

  <footer>
     <button style="position: relative; left: -84vw; background-color: black;">
          <a style="color: white; text-decoration: none;" href="/app/index">Гланый экран</a>
     </button>   
     Банк "Правобережный"
  </footer>
</body>
</html>